@import "variables.less";

@border-color: @box-border-color;

@empty-day-background: #fafafa;

@picker-day-today: @aqua;

@non-pickable-day-background: @sidebar-dark-bg;
@non-pickable-day-color: @sidebar-dark-color;

@pickable-day-non-picked-background: @sidebar-light-bg;
@pickable-day-non-picked-color: @sidebar-light-color;

@pickable-day-picked-background: @light-blue;
@pickable-day-picked-color: #fff;

.text-center {
  text-align: center;
}

.multiple-date-picker {
  user-select: none;
}

.multiple-date-picker, .picker-top-row, .picker-days-week-row, .picker-days-row {
  width: 100%;
}

.picker-top-row > div {
  display: inline-block;
}

.picker-month {
  width: 100%;
}

.picker-days-week-row > div {
  width: 14.28%;
  display: inline-block;
}

.picker-days-row > div {
  width: 14.28%;
  display: inline-block;
}

.picker-days-row > div {
  width: 14.28%;
  display: inline-block;
}

.picker-top-row, .picker-day {
  padding: 10px 0;
}

.picker-day {
  background-color: @pickable-day-non-picked-background;
  border: 1px solid @border-color;
  box-sizing: border-box;
  color: @pickable-day-non-picked-color;
}

.picker-day:not(.picker-off):not(.picker-empty):hover {
  background-color: @sidebar-light-hover-bg;
  color: @sidebar-light-hover-color;
  cursor: pointer;
}

.picker-day.picker-selected {
  background-color: @light-blue !important;
  color: @pickable-day-picked-color !important;
}

.picker-day.picker-selected:hover {
  background-color: darken(@light-blue, 10%);
  color: @pickable-day-picked-color;
}

.picker-day.picker-off, .picker-day.picker-off:hover {
  background-color: @sidebar-dark-submenu-bg;
  color: @sidebar-dark-submenu-color;
  cursor: default;
}

.picker-day.picker-empty, .picker-day.picker-empty:hover {
  background-color: @empty-day-background;
  color: @sidebar-dark-submenu-hover-color;
  cursor: default;
}

// classes

/*
 * TODAY
 */
.picker-day.today {
  color: @pickable-day-picked-color;
  background-color: @picker-day-today;
  text-decoration: underline;
}

.picker-day.today.picker-empty {
  background-color: @pickable-day-non-picked-background;
  color: @pickable-day-non-picked-color;
  text-decoration: none;
}

.picker-day.today.picker-selected {
  // use default
}

.picker-day.today.picker-off {
  // use default
}

.picker-day.today:not(.picker-off):hover {
  background-color: darken(@picker-day-today, 10%);
  color: @pickable-day-picked-color;
}

/*
 * OFF
 */
.picker-day.off {
  background-color: lighten(@red, 5%);
  color: @pickable-day-picked-color;
}

.picker-day.off.picker-selected {
  // use default
}

.picker-day.off.picker-off {
  // use default
}

.picker-day.off:not(.picker-off):hover {
  background-color: darken(@red, 10%);
  color: @pickable-day-picked-color;
}

/*
 * HALF-OFF
 */
.picker-day.half-off {
  color: #000000;
  background: repeating-linear-gradient(
          45deg,
          fade(lighten(@red, 5%), 30%),
          fade(lighten(@red, 5%), 30%) 10px,
          @pickable-day-non-picked-background 10px,
          @pickable-day-non-picked-background 20px
  );
}

.picker-day.half-off.picker-selected {
  // use default
}

.picker-day.half-off.picker-off {
  // use default
}

.picker-day.half-off:not(.picker-off):hover {
  background-color: darken(@red, 10%);
  color: @pickable-day-picked-color;
}

/*
 * HALF
 */
.picker-day.half {
  color: #000000;
  background: repeating-linear-gradient(
          45deg,
          @gray,
          @gray 10px,
          @pickable-day-non-picked-background 10px,
          @pickable-day-non-picked-background 20px
  );
}

.picker-day.half.picker-selected {
  color: #000000 !important;
  background: repeating-linear-gradient(
          45deg,
          fade(@light-blue, 30%),
          fade(@light-blue, 30%) 10px,
          @pickable-day-non-picked-background 10px,
          @pickable-day-non-picked-background 20px
  );
}

.picker-day.half.picker-off {
  // use default
}

.picker-day.half:not(.picker-off):hover {
  // use default
}

/*
 * HALF-ON
 */
.picker-day.half-on {
  color: #000000;
  background: repeating-linear-gradient(
          45deg,
          fade(lighten(@green, 5%), 30%),
          fade(lighten(@green, 5%), 30%) 10px,
          @pickable-day-non-picked-background 10px,
          @pickable-day-non-picked-background 20px
  );
}

.picker-day.half-on.picker-selected {
  // use default
}

.picker-day.half-on.picker-off {
  // use default
}

.picker-day.half-on:not(.picker-off):hover {
  background-color: darken(@green, 10%);
  color: @pickable-day-picked-color;
}

/*
 * ON
 */
.picker-day.on {
  background-color: @green;
  color: @pickable-day-picked-color;
}

.picker-day.on.picker-selected {
  // use default
}

.picker-day.half.picker-off {
  // use default
}

.picker-day.on:not(.picker-off):hover {
  background-color: lighten(@green, 10%);
  color: @pickable-day-picked-color;
}